.footer {
  border-bottom:  8px solid #070716;
  padding: 30px 23px 50px 23px;

  @include tablets {
    border-bottom: none;
  }

  @include phones {
    border-bottom: none;
    padding: 50px 20px 20px 20px;
  }

}

.footer-row {
  justify-content: space-between;
  align-items: center;

  @include tablets {
    display: flex;
    flex-direction: column-reverse;
  }

  @include phones {
    display: flex;
    flex-direction: column-reverse;
  }

}

.footer__nav-wrap {
  width: 22.3%;

  @include tablets {
    width: 100%;
    order: 2;
  }

  @include phones {
    width: 100%;
    order: 2;
  }
}

.footer__navigation-list {
  display: flex;

  @include tablets {
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 38px;
  }
}

.footer__navigation-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-decoration: none;
  margin-right: 9px;
  background: #070716 url("../icons/sprite.png") no-repeat center;
  border-radius: 50%;

  &--fb {
    background-position: -73px 6px;
  }

  &--tw {
    background-position: 7px 8px;
  }

  &--in {
    background-position: 9px -31px;
  }

  &--inst {
    background-position: -36px 8px;

  }

}

.footer__block-wrap {
  position: relative;
  width: 33.3%;


  @include phones {
    width: 100%;
    order: 3;
    margin-left: 15px;
  }

  @include tablets {
    width: 100%;
    order: 3;
    margin-left: 35px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 72%;
    height: 4px;
    background-color: #1fbad6;
    top: -17px;
    left: 50px;

    @include tablets {
      width: 45%;
      top: -17px;
      left: 169px;
    }

    @include phones {
      top: -21px;
      width: 80%;
      left: 29px;
    }

  }

}



.footer__first-list {
  margin-bottom: 14px;
  text-align: center;
}

.footer__second-list {
  margin-bottom: 22px;
  text-align: center;

  @include phones {
    margin-bottom: 12px;
  }
}

.footer__first-link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
  margin-right: 45px;

  @include phones {
    font-size: 14px;
    margin-right: 16px;
    margin-bottom: 10px;
  }

}

.footer__second-link {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  margin-right: 21px;

  @include phones {
    font-size: 11px;
    margin-right: 54px;
    margin-bottom: 10px;
  }

  @include small-phones {
    margin-right: 35px;
    margin-bottom: 15px;
  }

}

.footer__language-wrap {
  text-align: center;
}

.footer__language-link {
  text-decoration: none;
  font-size: 11px;
  color: #1fbad6;
  text-transform: uppercase;

}

.footer__stores {

  @include tablets {
    order: 1;
  }

  @include phones {
    order: 1;
  }

}

.footer__stores-wrap {

  @include phones {
    margin-left: 0;
  }

  @include small-phones {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

}

.footer__stores-link {
  display: inline-block;
  width: 92px;
  height: 26px;
  font-size: 0;
  text-decoration: none;
  margin-right: 9px;

  &--apple {
    background: url("../img/footer-apple.png");
  }

  &--play {
    background: url("../img/footer-playmarket.png");
  }

  &--win {
    background: url("../img/footer-windows.png");
  }

  @include small-phones {
    margin-bottom: 10px;
  }
}



