.header__top {
  padding: 20px 10px;
  background-color: #212121;
  text-align: center;
}

.header-navigation__list {
  display: flex;
  justify-content: center;
}

.header-navigation__list-item {
  position: relative;
  padding-right: 30px;
  margin-right: 29px;

  &::after {
    position: absolute;
    content: "";
    width: 31px;
    height: 2px;
    border-bottom: 2px dotted #000000;
    transform: rotate(90deg);
    top: 10px;
    right: -14px;
  }
}

.header-navigation__list-link {
  text-decoration: none;
  font-size: 15px;
  color: $white;
  font-weight: 300;
}

.header__bottom {
  position: absolute;
  padding: 16px 0px;
  z-index: 3;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header__bottom-logo {
  margin-left: 87px;
}

.header-row__bottom {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-wrap {
  display: flex;
  margin-right: 140px;

}

.header__bottom-text {
  font-size: 13px;
  opacity: 0.5
}

.header__bottom-number {
  font-size: 12px;
  margin-right: 30px;

}

.header__bottom-number p {
  margin-bottom: 5px;
}

.header__bottom-phone {
  font-size: 22px;
  text-transform: uppercase;
}

.header__bottom-btn {
  font-size: 14px;

}